* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Fraunces", sans-serif;
  font-size: 18px;
  color: white;
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

p {
  font-family: Barlow;
}

.nav-container {
  width: 100%;
  background: url("../images/mobile/image-header.jpg") no-repeat;
  background-size: 100%;
  height: 700px;
  padding: 20px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar h1 {
  flex: 1;
}

.navbar img {
  height: 100%;
  cursor: pointer;
}

.navbar img:focus {
  background-color: red;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid white;
  right: 0;
  top: -30px;
}

.dropdown {
  background-color: white;
  margin-top: 3em;
  position: relative;
}

.dropdown ul {
  text-align: center;
  list-style: none;
}

.dropdown li {
  padding: 20px;
}

.dropdown li a {
  text-decoration: none;
  color: #818498;
}

.navbar-highlight {
  display: inline-block;
  color: black;
  background-color: #fad400;
  padding: 15px 30px;
  border-radius: 2em;
}

.top-grid {
  width: 100%;
}

.top-image img {
  width: 100%;
}
