* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Fraunces", sans-serif;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

p {
  font-family: Barlow;
}

.nav-container {
  width: 100%;
  color: white;
  background: url("../images/mobile/image-header.jpg");
  background-size: 100% 100%;
  position: relative;
}

.nav-container > img {
  visibility: hidden;
  width: 100%;
}

.navbar {
  top: 0;
  padding: 20px 5% 0;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar .title-container {
  letter-spacing: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar h1 {
  flex: 1;
}

.navbar img {
  padding-top: 5px;
  height: 100%;
  cursor: pointer;
}

.navbar img:focus {
  background-color: red;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid white;
  right: 0;
  top: -30px;
}

.dropdown {
  background-color: white;
  margin-top: 3em;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 5%;
  width: 90%;
}

.dropdown ul {
  text-align: center;
  list-style: none;
}

.dropdown li {
  padding: 20px;
}

.dropdown li a {
  text-decoration: none;
  color: #818498;
}

.navbar-highlight {
  display: inline-block;
  color: black;
  background-color: #fad400;
  padding: 15px 30px;
  border-radius: 2em;
}

.top-grid {
  text-align: center;
  width: 100%;
}

.top-grid img {
  width: 100%;
  visibility: hidden;
}

.top-grid p {
  color: #818498;
  margin: 1.5rem 0;
  line-height: 2rem;
}

.top-grid a {
  color: black;
  text-decoration: none;
}

.top-grid .image-1 {
  background: url(../images/mobile/image-transform.jpg);
  background-size: 100% 100%;
}

.top-grid .image-2 {
  background: url(../images/mobile/image-stand-out.jpg);
  background-size: 100% 100%;
}

.top-grid .learn-more {
  display: inline-block;
  position: relative;
}

.top-grid .yellow-line {
  background-color: rgba(250, 212, 0, 0.4);
  border-radius: 0.5em;
  height: 10px;
  position: relative;
  width: 110%;
  left: -5px;
  top: -8px;
}

.top-grid .red-line {
  background-color: rgba(254, 120, 103, 0.4);
  border-radius: 0.5em;
  height: 10px;
  position: relative;
  width: 110%;
  left: -5px;
  top: -8px;
}

.top-grid .top-article {
  padding: 3rem 20px;
}

.top-grid .top-bg-article-one {
  background: url(../images/mobile/image-graphic-design.jpg);
  background-size: 100% 100%;
  position: relative;
}

.top-grid .top-bg-article-two {
  background: url(../images/mobile/image-photography.jpg);
  background-size: 100% 100%;
  position: relative;
}

.top-grid .bg-content {
  position: absolute;
  top: 60%;
  color: #25564b;
}

.top-grid .bg-content p {
  color: #25564b;
  line-height: 2rem;
}

.testimonial-container {
  text-align: center;
  padding: 30px;
}

.testimonial-container .testimonial {
  margin: 4rem 0;
}

.testimonial-container h1 {
  color: #818498;
  font-size: 1.2rem;
  letter-spacing: 3px;
  margin-top: 2.5rem;
}

.testimonial-container img {
  border-radius: 5em;
  width: 75px;
}

.testimonial-container p:nth-of-type(1) {
  margin: 2rem 0;
  line-height: 2rem;
  color: #5a636c;
}

.testimonial-container p:nth-of-type(2) {
  margin: 1rem 0;
  color: #a7abae;
}

.testimonial-container h2 {
  font-size: 1.3rem;
}

.bottom-image-wrapper img {
  float: left;
  width: 50%;
}

.bottom-image-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  text-align: center;
  color: #25564b;
  background-color: #84d2c1;
  padding: 3rem 2rem;
}

.footer .info-bar {
  margin: 2.5rem 0 4rem;
}

.footer .info-bar ul {
  list-style-type: none;
}

.footer .info-bar ul li {
  display: inline-block;
  margin: 25px;
}

.footer .info-bar ul li a {
  text-decoration: none;
  color: #25564b;
}

.footer .social-bar ul li {
  list-style-type: none;
  display: inline-block;
  width: 40px;
}

.footer .social-bar ul li a {
  width: 100%;
  flex: 1;
  color: #25564b;
  margin: 0 20px;
}

.top-image-desktop-one {
  background: url("../images/desktop/image-transform.jpg");
  display: none;
  background-size: 100% 100%;
}

.top-image-desktop-one img {
  visibility: hidden;
}

.top-image-desktop-two {
  background: url("../images/desktop/image-stand-out.jpg");
  display: none;
  background-size: 100% 100%;
}

.top-image-desktop-two img {
  visibility: hidden;
}

.desktop-header {
  display: none;
}

.desktop-nav {
  display: none;
}

.top-bg-article-one img:nth-of-type(2),
.top-bg-article-two img:nth-of-type(2) {
  display: none;
}

.desktop-images-footer {
  display: none;
}

@media screen and (min-width: 1052px) {
  .desktop-header {
    display: block;
  }
  .mobile-header {
    display: none;
  }
  .nav-container {
    background: url(../images/desktop/image-header.jpg);
    background-size: 100% 100%;
  }
  .navbar img {
    display: none;
  }
  .desktop-nav {
    display: inline-block;
  }
  .desktop-nav ul li {
    list-style: none;
    display: inline-block;
    color: white;
  }
  .desktop-nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 2em;
    color: white;
  }
  .desktop-nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .desktop-nav ul li a:active {
    background-color: white;
    color: black;
  }
  .flex-container {
    display: flex;
  }
  .top-image-desktop-one,
  .top-image-desktop-two,
  .top-image-desktop-three {
    display: inline-block;
    flex: 1;
    flex-basis: 50%;
  }
  .row-reverse {
    flex-direction: row-reverse;
  }
  .top-article {
    flex: 1;
    flex-basis: 50%;
  }
  .image-1,
  .image-2 {
    display: none;
  }
  .top-grid .top-bg-article-one {
    background: none;
    background: url(../images/desktop/image-graphic-design.jpg);
    background-size: 100% 100%;
    position: relative;
    display: inline-block;
    flex: 1;
    flex-basis: 50%;
  }
  .top-grid .top-bg-article-two {
    background: none;
    background: url(../images/desktop/image-photography.jpg);
    background-size: 100% 100%;
    position: relative;
    display: inline-block;
    flex: 1;
    flex-basis: 50%;
  }
  .top-grid .top-bg-article-one img:nth-of-type(1),
  .top-grid .top-bg-article-two img:nth-of-type(1) {
    display: none;
  }
  .top-grid .top-bg-article-one img:nth-of-type(2),
  .top-grid .top-bg-article-two img:nth-of-type(2) {
    display: inline-block;
  }
  .testimonial-container {
    margin: 4rem 0;
  }
  .testimonial {
    flex: 1;
  }
  .bottom-image-wrapper img {
    width: 25%;
  }
  .mobile-images-footer {
    display: none;
  }
  .desktop-images-footer {
    display: block;
  }
}
