@mixin line-formula() {
  border-radius: 0.5em;
  height: 10px;
  position: relative;
  width: 110%;
  left: -5px;
  top: -8px;
  z-index: -1;
}

@mixin desktop-image() {
  display: none;
  background-size: 100% 100%;

  img {
    visibility: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Fraunces", sans-serif;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

p {
  font-family: Barlow;
}

.nav-container {
  width: 100%;
  color: white;
  background: url("../images/mobile/image-header.jpg");
  background-size: 100% 100%;
  position: relative;
  & > img {
    visibility: hidden;
    width: 100%;
  }
}

.navbar {
  top: 0;
  padding: 20px 5% 0;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;

  .title-container {
    letter-spacing: 0.5rem;
    text-align: center;
    font-size: 1.8rem;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      position: absolute;
      top: 200px;
    }
  }

  h1 {
    flex: 1;
  }

  img {
    padding-top: 5px;
    height: 100%;
    cursor: pointer;
    &:focus {
      background-color: red;
    }
  }
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid white;
  right: 0;
  top: -30px;
}

.dropdown {
  background-color: white;
  margin-top: 3em;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 5%;
  width: 90%;
  ul {
    text-align: center;
    list-style: none;
  }

  li {
    padding: 20px;

    a {
      text-decoration: none;
      color: hsl(232, 10%, 55%);
    }
  }
}

.navbar-highlight {
  display: inline-block;
  color: black;
  background-color: hsl(51, 100%, 49%);
  padding: 15px 30px;
  border-radius: 2em;
}
.top-grid {
  text-align: center;
  width: 100%;
  img {
    width: 100%;
    visibility: hidden;
  }

  p {
    color: hsl(232, 10%, 55%);
    margin: 1.5rem 0;
    line-height: 2rem;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .image-1 {
    background: url(../images/mobile/image-transform.jpg);
    background-size: 100% 100%;
  }
  .image-2 {
    background: url(../images/mobile/image-stand-out.jpg);
    background-size: 100% 100%;
  }
  .learn-more {
    display: inline-block;
    position: relative;
  }
  .yellow-line {
    background-color: hsla(51, 100%, 49%, 0.2);
    @include line-formula();
  }
  .red-line {
    background-color: hsla(7, 99%, 70%, 0.2);
    @include line-formula();
  }
  .top-article {
    padding: 3rem 20px;
  }
  .top-bg-article-one {
    background: url(../images/mobile/image-graphic-design.jpg);
    background-size: 100% 100%;
    position: relative;
  }
  .top-bg-article-two {
    background: url(../images/mobile/image-photography.jpg);
    background-size: 100% 100%;
    position: relative;
  }
  .bg-content {
    position: absolute;
    top: 60%;
    color: hsl(167, 40%, 24%);
    p {
      color: hsl(167, 40%, 24%);
      line-height: 2rem;
    }
  }
}

.testimonial-container {
  text-align: center;
  padding: 30px;
  .testimonial {
    margin: 4rem 0;
  }

  h1 {
    color: hsl(232, 10%, 55%);
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin-top: 2.5rem;
  }
  img {
    border-radius: 5em;
    width: 75px;
  }
  p:nth-of-type(1) {
    margin: 2rem 0;
    line-height: 2rem;
    color: hsl(213, 9%, 39%);
  }
  p:nth-of-type(2) {
    margin: 1rem 0;
    color: hsl(210, 4%, 67%);
  }
  h2 {
    font-size: 1.3rem;
  }
}
.bottom-image-wrapper {
  img {
    float: left;
    width: 50%;
  }
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
.footer {
  text-align: center;
  color: hsl(167, 40%, 24%);
  background-color: hsl(167, 46%, 67%);
  padding: 3rem 2rem;

  .info-bar {
    margin: 2.5rem 0 4rem;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        margin: 25px;
        a {
          text-decoration: none;
          color: hsl(167, 40%, 24%);
        }
      }
    }
  }
  .social-bar {
    ul {
      li {
        list-style-type: none;
        display: inline-block;
        width: 40px;
        a {
          width: 100%;
          flex: 1;
          color: hsl(167, 40%, 24%);
          margin: 0 20px;
        }
      }
    }
  }
}

// create desktop elements

.top-image-desktop-one {
  background: url("../images/desktop/image-transform.jpg");
  @include desktop-image();
}

.top-image-desktop-two {
  background: url("../images/desktop/image-stand-out.jpg");
  @include desktop-image();
}

// hide desktop elements
.desktop-header {
  display: none;
}

.desktop-nav {
  display: none;
}

.top-bg-article-one,
.top-bg-article-two {
  & img:nth-of-type(2) {
    display: none;
  }
}

.desktop-images-footer {
  display: none;
}

@media screen and (min-width: 1052px) {
  // show desktop and hide mobile elements
  .desktop-header {
    display: block;
  }
  .mobile-header {
    display: none;
  }

  .nav-container {
    background: url(../images/desktop/image-header.jpg);
    background-size: 100% 100%;
  }
  .navbar {
    img {
      display: none;
    }
    .title-container {
      img {
        display: inline-block;
        width: 43.25px;
        height: auto;
      }
    }
  }

  .desktop-nav {
    display: inline-block;

    ul {
      li {
        list-style: none;
        display: inline-block;
        color: white;

        a {
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 2em;
          color: white;

          &:hover {
            background-color: hsla(0, 0%, 100%, 0.3);
          }
          &:active {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }

  .flex-container {
    display: flex;
  }

  .top-image-desktop-one,
  .top-image-desktop-two,
  .top-image-desktop-three {
    display: inline-block;
    flex: 1;
    flex-basis: 50%;
  }
  .row-reverse {
    flex-direction: row-reverse;
  }

  .image-1,
  .image-2 {
    display: none;
  }

  .top-grid {
    .top-bg-article-one {
      background: none;
      background: url(../images/desktop/image-graphic-design.jpg);
      background-size: 100% 100%;
      position: relative;
      display: inline-block;
      flex: 1;
      flex-basis: 50%;
    }
    .top-article {
      flex: 1;
      flex-basis: 50%;

      text-align: left;
    }
    .article-content {
      padding: 15%;
    }

    .top-bg-article-two {
      background: none;
      background: url(../images/desktop/image-photography.jpg);
      background-size: 100% 100%;
      position: relative;
      display: inline-block;
      flex: 1;
      flex-basis: 50%;
    }

    .top-bg-article-one,
    .top-bg-article-two {
      & img:nth-of-type(1) {
        display: none;
      }
      & img:nth-of-type(2) {
        display: inline-block;
      }
    }
  }
  .testimonial-container {
    margin: 4rem 0;
  }

  .testimonial {
    flex: 1;
  }

  .bottom-image-wrapper {
    img {
      width: 25%;
    }
  }
  .mobile-images-footer {
    display: none;
  }

  .desktop-images-footer {
    display: block;
  }

  .dropdown {
    display: none !important;
  }
}
