@mixin line-formula() {
  border-radius: 0.5em;
  height: 7px;
  position: relative;
  width: 110%;
  left: -5px;
  top: -7px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Fraunces", sans-serif;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

p {
  font-family: Barlow;
}

.nav-container {
  width: 100%;
  color: white;
  background: url("../images/mobile/image-header.jpg");
  background-size: 100% 100%;
  position: relative;
  & > img {
    visibility: hidden;
    width: 100%;
  }
}

.navbar {
  top: 0;
  padding: 20px 5% 0;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;

  h1 {
    flex: 1;
  }
  img {
    padding-top: 5px;
    height: 100%;
    cursor: pointer;
    &:focus {
      background-color: red;
    }
  }
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid white;
  right: 0;
  top: -30px;
}

.dropdown {
  background-color: white;
  margin-top: 3em;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 5%;
  width: 90%;
  ul {
    text-align: center;
    list-style: none;
  }

  li {
    padding: 20px;

    a {
      text-decoration: none;
      color: hsl(232, 10%, 55%);
    }
  }
}

.navbar-highlight {
  display: inline-block;
  color: black;
  background-color: hsl(51, 100%, 49%);
  padding: 15px 30px;
  border-radius: 2em;
}
.top-grid {
  text-align: center;
  width: 100%;
  img {
    width: 100%;
    visibility: hidden;
  }

  p {
    color: hsl(232, 10%, 55%);
    margin: 1.5rem 0;
    line-height: 1.5rem;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .image-1 {
    background: url(../images/mobile/image-transform.jpg);
    background-size: 100% 100%;
  }
  .image-2 {
    background: url(../images/mobile/image-stand-out.jpg);
    background-size: 100% 100%;
  }
  .learn-more {
    display: inline-block;
    position: relative;
  }
  .yellow-line {
    background-color: hsla(51, 100%, 49%, 0.4);
    @include line-formula();
  }
  .red-line {
    background-color: hsla(7, 99%, 70%, 0.4);
    @include line-formula();
  }
  .top-article {
    padding: 3rem 20px;
  }
  .top-bg-article-one {
    background: url(../images/mobile/image-graphic-design.jpg);
    background-size: 100% 100%;
    position: relative;
  }
  .bg-content {
    position: absolute;
    top: 60%;
    color: hsl(167, 40%, 24%);
    p {
      color: hsl(167, 40%, 24%);
      line-height: 2rem;
    }
  }
  .top-bg-article-two {
    background: url(../images/mobile/image-photography.jpg);
    background-size: 100% 100%;
    position: relative;
  }
}

.testimonial-container {
  text-align: center;
  padding: 30px;
  .testimonial {
    margin: 4rem 0;
  }

  h1 {
    color: hsl(232, 10%, 55%);
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin-top: 2.5rem;
  }
  img {
    border-radius: 5em;
    width: 75px;
  }
  p:nth-of-type(1) {
    margin: 2rem 0;
    line-height: 2rem;
    color: hsl(213, 9%, 39%);
  }
  p:nth-of-type(2) {
    margin: 1rem 0;
    color: hsl(210, 4%, 67%);
  }
  h2 {
    font-size: 1.3rem;
  }
}
.bottom-image-wrapper {
  img {
    float: left;
    width: 50%;
  }
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
.footer {
  text-align: center;
  color: hsl(167, 40%, 24%);
  background-color: hsl(167, 46%, 67%);
  padding: 3rem 2rem;

  .info-bar {
    margin: 2.5rem 0 4rem;
    display: flex;
    justify-content: flex-start;
    a {
      flex: 1;
      text-decoration: none;
      color: hsl(168, 34%, 41%);
    }
  }
  ul {
    li {
      list-style-type: none;
      display: inline-block;
      width: 40px;
      a {
        width: 100%;
        flex: 1;
        color: hsl(167, 40%, 24%);
        margin: 0 20px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
}
